<div>
  <app-widget-area></app-widget-area>
</div>

<br>
<mat-divider></mat-divider>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
  <mat-card fxFlex="22">
    <app-widget-card label="New Users" total="35k" percentage="80" [data]="chartCard"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="22">
    <app-widget-card label="Loyal Users" total="12k" percentage="45" [data]="chartCard"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="22">
    <app-widget-card label="Partners" total="8k" percentage="30" [data]="chartCard"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="22">
    <app-widget-card label="Partners" total="8k" percentage="20" [data]="chartCard"></app-widget-card>
  </mat-card>
</div>

<br>
<br>
<br>
