:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Sidenav */
mat-drawer {
  width: 290px;
}

/* Conteúdo */
mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}
